body,
html {
  height: 100%;
}
body {
  /* cursor: crosshair; */
  margin: 0px;
  background-image: url("./src/class/img/night-sky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  display: flex;
}
body,
a:link,
a:visited,
a:active {
  color: lightblue;
  font-size: large;
  text-decoration: none;
}

.btn {
  color: lightblue;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.btn:hover {
  color: rgb(216, 164, 31);
}

#items {
  /* border: 3px solid red; */
  width: 99%;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title,
.addStarButton {
  padding: 5px 12px;
  /* float: right; */
}
.topbar {
  height: 50px;
  width: 100%;
  /* background-color: #555; */
}
#controlBox {
  /* border: 3px solid white; */
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}
#title {
  /* background-color: #777; */
  /* border: 3px solid yellow; */
  font-weight: bold;
  font-size: 2rem;
}
.dancer {
  position: absolute;
}
.dancer:hover {
  cursor: pointer;
}
.dancer:active {
  transform: scale(4);
}
#audio {
  /* border: 3px solid blue; */
  height: 2rem;
  color: black;
  background-color: black;
}
